* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    font-family: monospace;
    text-align: center;
    height: 100vh;
    text-align: center;
    position: relative;
    
}

.modal-container {
    width: 100%;
    background: #1d3557;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-container p {
    margin-bottom: 15px;
}

h1 {
    font-weight: 100;
    margin-bottom: 1rem;
}

.arrow {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

button {
    background: transparent;
    padding: 10px 25px;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    cursor: pointer;
    transition: all 400ms linear;
}

button:hover {
    transform-origin: left;
    transform: scale(1.1);
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border: 2px solid #000;
    color: #000;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 100ms linear;
}

.popup {
    background-color: #118ab2;
    border: 3px solid #000;
    max-width: 90%;
    width: 550px;
    margin: 0 auto;
    padding: 1em 0.7em;
    color: #000;
    font-weight: 600;
    transition: all 400ms linear;
    right: 0;
    left: 0;
    top: -50%;
    position: absolute;
}

.active-overlay {
    z-index: 1;
}

.active-popup {
    top:  10%
}

h2 {
    margin-bottom: 10px;
}


.popup p {
    font-size: 1.2rem;
    margin-top: 4px;
    line-height: 1.4;
    border-top: 2px solid #000;
    padding-top: 10px;
}