* {
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffc300;
    height: 90vh;
    text-align: center;
    font-weight: 700;
}

.container {
    border: 3px solid black;
    width: 90%;
    max-width: 600px;
    border-radius: 3px;
    padding: 2rem 1rem;
}

h1 {
    margin-bottom: 3rem;
}

input,
button {
    background: transparent;
    border: 2px solid black;
    padding: 8px 10px;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 3rem;
    font-size: 16px;
    outline: none;
}

input::placeholder{
    color: #000;
}

button {
    width: 20%;
    transition: all 300ms linear;
}

button:hover {
    transform: scale(1.05);
    background: black;
    color: #fff;
}