* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
    height: 90vh;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.btn {
    border: none;
    width: 120px;
    padding: 15px 5px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    transition: all 500ms linear;
}

.btn:hover {
    
    box-shadow: 3px 2px 2px gray;
}

.add {
    background-color: #386641;
}

.deduct {
    background-color: #780000;
}

.reset {
    background-color: #463f3a;
}
